<div class="cooking-content">
  <h4>TIME</h4>

  <h1><span id="min"></span>:<span id="sec"></span></h1>

  <a id="hint-button" class="waves-effect waves-light btn modal-trigger top-btn" href="#modal1" onclick="hintCount()">
    <i class="material-icons left">live_help</i>ヒント あと<span id="hint">3</span>回</a>
  <a id="detail-button" class="waves-effect waves-light btn modal-trigger top-btn" href="#modal2" onclick="detailCount()">
    <i class="material-icons left">list</i>詳細</a>
  <div class="cooking-image">
    <%= image_tag @menu.image_url, size: '375x375' %>
    <%= link_to success_path(@menu), class: 'waves-effect waves-light main-button btn-large image-btn' do %>
      <i class="material-icons left">local_dining</i>完成<i class="material-icons right">local_dining</i>
    <% end %>
  </div>
  <!--ここはモーダルで表示-->
  <div class="give-up">
    <a class="modal-trigger give" href="#modal3">ギブアップ</a>
  </div>
  <!--モーダル-->
  <div id="modal1" class="modal">
    <a href="#" class="modal-close waves-effect waves-green btn-flat">
      <i class="material-icons cancel">cancel</i>
    </a>
    <div class="modal-content">
      <div id="hint1">
        <h4>ヒント1</h4>
        <p><%= @menu.hint1 %></p>
      </div>
      <div id="hint2" class="hidden">
        <h4>ヒント2</h4>
        <p><%= @menu.hint2 %></p>
      </div>
      <div id="hint3" class="hidden">
        <h4>ヒント3</h4>
        <p><%= @menu.hint3 %></p>
      </div>
    </div>
<!--    <div class="modal-footer">-->
<!--      <a href="#" class="modal-close waves-effect waves-green btn-flat">Agree</a>-->
<!--    </div>-->
  </div>

  <div id="modal2" class="modal">
    <a href="#" class="modal-close waves-effect waves-green btn-flat">
      <i class="material-icons cancel">cancel</i>
    </a>
    <div class="modal-content">
      <strong>食材:</strong>
      <ul class="collection">
        <% @menu.materials.each do |material| %>
          <li class="collection-item"><%= material.name %><%= material.quantity %></li>
        <% end %>
      </ul>
    </div>

<!--    <div class="modal-footer">-->
<!--      <a href="" class="modal-close waves-effect waves-green btn-flat">Agree</a>-->
<!--    </div>-->
  </div>

  <div id="modal3" class="modal">
    <a href="#" class="modal-close waves-effect waves-green btn-flat">
      <i class="material-icons cancel">cancel</i>
    </a>
    <div class="modal-content">
     本当にギブアップしますか？
    </div>
    <%= link_to 'はい', failure_path(@menu), class: 'waves-effect waves-light btn main-button back' %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    // document.addEventListener('DOMContentLoaded', function() {
    //     var elems = document.querySelectorAll('.modal');
    //     var instances = M.Modal.init(elems, options);
    // });

    // Or with jQuery
    var cooktimer;
    var min = <%= @menu.cooking_time %> + 0;
    var sec = 0;
    var count = 3;
    function cntStart()
    {
        cooktimer = <%= @menu.cooking_time %>
            // console.log(cooktimer)
            cooktimer = setInterval("countDown()",1000);
    }

    function countDown()
    {
        // console.log(sec)
        // console.log(min)
        if (localStorage.getItem("countTimer") == null) {
            localStorage.setItem("countTimer", 'active');
        } else {
            min = $('#min').text();
            sec = $('#sec').text();
        }

        if (min=="") min=0;
        min=parseInt(min);

        if (sec=="") sec=0;
        sec=parseInt(sec);

        tmWrite(min*60+sec-1);
    }

    function tmWrite(int)
    {
        int=parseInt(int);

        // console.log(int);
        if (int<=0)
        {
            // ここがタイムアップ
            // alert("時間です！");
            window.location.href = `<%= time_up_path(@menu) %>`;
        }
        else
        {
            // console.log(int);
            //残り分数はintを60で割って切り捨てる
            // document.timer.elements[0].value=Math.floor(int/60);
            $('#min').text(`${Math.floor(int/60)}`);
            //残り秒数はintを60で割った余り
            // document.timer.elements[1].value=int % 60;
            $('#sec').text(`${int % 60}`);
        }
    }

    var hintCount = function () {
        if (count > 0) {
            count = count - 1;
            $('#hint').text(count);
            if (count == 1) {
                $('#hint2').removeClass('hidden');
            } else if (count == 0) {
                $('#hint3').removeClass('hidden');
            }
        }
        $('#detail-button').removeClass('top-btn-under-line');
        $('#hint-button').addClass('top-btn-under-line');
    }

    var detailCount = function () {
        $('#detail-button').addClass('top-btn-under-line');
        $('#hint-button').removeClass('top-btn-under-line');
    }

    // 画面繊維した時点で始まる
    $(document).ready(function(){
        cntStart();
        localStorage.removeItem("countTimer");
        $('.modal').modal();
    });


</script>