<div class="preperation-content">
  <h4 class="content-name">料理が決定しました！</h4>
  <%= image_tag @menu.image_url, size: '375x375' %>

  <h4 class="content-name title"><%= @menu.title %></h4>
  <p class="cook-time">調理時間 <%= @menu.cooking_time %>分</p>

  <%= image_tag 'sa-tuku.png', width: '375', class: 'explain' %>
  <%= image_tag 'pre-mate1.png', width: '375', class: 'explain'  %>
  <%= image_tag 'pre-mate2.png', width: '375', class: 'explain'   %>
  <%= image_tag 'pre-mate3.png', width: '375', class: 'explain'   %>

  <div class="material-memo">
    <h5 class="content-name">食材メモ <span class="person-count"><%= @menu.person_count %>人前</span></h5>
    <hr>
    <ul class="collection">
      <% @menu.materials.each do |material| %>
        <li class="collection-item">
          <input type="checkbox" />
          <span class="material"><%= material.name %></span>
          <span class="quantity"><%= material.quantity %></span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="material-button-gruop">
    <%= link_to '#modal1', class: 'waves-effect waves-light btn-large modal-trigger main-button cook-start' do %>
      クッキングスタート
    <% end %>
<!--    <a class="waves-effect waves-light btn modal-trigger main-button" href="#modal1">ヒント</a>-->

    <%= link_to random_path, class: 'waves-effect waves-light btn main-button back' do %>
      <i class="material-icons left">chevron_left</i>料理選択画面に戻る
    <% end %>
  </div>
</div>

<!--モーダル-->
<div id="modal1" class="modal">
  <div class="modal-content">
    <p>タイマーがスタートしますよろしいですか？</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-close waves-effect waves-green btn-flat">キャンセル</a>
    <%= link_to 'はい', cooking_path(@menu), class: 'waves-effect waves-light btn main-button back' %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    var clickCount = 0;

    // 画面繊維した時点で始まる
    $(document).ready(function(){
        localStorage.removeItem("countTimer");
        $('.modal').modal();
    });
</script>