<p id="notice"><%= notice %></p>

<%= image_tag @menu.image_url, size: '348x348' %>

<!--TODO ボタンのアイコン変える リンク先-->
<%= link_to material_preparation_path(@menu), class: 'waves-effect waves-light btn main-button' do %>
  <i class="material-icons left">check</i>この料理に決定
<% end %>
<a class="waves-effect waves-light btn main-button"><i class="material-icons left">cached</i>別の料理</a>

<h4>
  <%= @menu.title %>
</h4>

<p>
  <strong>調理時間:</strong>
  <%= @menu.cooking_time %>
</p>

<p>
  <strong>調理器具:</strong>
  <% @menu.tools.each do |tool|  %>
    <%= tool.name %>
  <% end %>
</p>

<strong>食材:</strong>
<ul class="collection">
  <% @menu.materials.each do |material| %>
    <li class="collection-item"><%= material.name %><%= material.quantity %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
