<div class="recipe-content">
  <h2><%= @menu.title %></h2>
  <%= image_tag 'recipe/make.png', width: '375' %>
  <% @menu.recipes.each_with_index do |recipe, index| %>
    <div class="r-content recipe">
      <strong><%= index+1 %>.</strong>
      <%= simple_format(recipe.content) %>
    </div>
  <% end %>
  <%= image_tag 'recipe/umaku.png', width: '375', class: 'umaku'%>
  <div class="r-content">
    <h3>あなた達の料理を</h3>
    <h3>友達にシェアしましょう！</h3>
  </div>

  <div class="r-content">
    <div class="twitter">
      <a href="//twitter.com/share" class="twitter-share-button" data-text="<%= @menu.title %>を作りました！ レシピのかくれんぼ" data-url="https://hidden-recipe.herokuapp.com/" data-lang="ja<!-- 日本語の場合 -->">
        <%= image_tag 'recipe/twitter.png', size: '60x60', class: 'twitter-image' %>
      </a>
    </div>
    <a class="waves-effect waves-light btn main-button" href="/">トップへ</a>
  </div>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>